@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

.container {
    margin: auto;
    height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
}

.player_container {
    /* margin: 10px; */

}

.player_container h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: #b7dae2;
    font-family: 'Playpen Sans', cursive;
    
}

.isTurnWatermelon {
    background: rgb(8, 250, 3);
    background: linear-gradient(90deg, rgba(8, 250, 3, 1) 0%, rgba(0, 181, 42, 1) 28%, rgba(255, 7, 21, 1) 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem !important;
    transition: ease-in-out 0.3s !important;
}


.isTurnMelon {
    background: rgb(205, 153, 7);
    background: linear-gradient(90deg, rgba(205, 153, 7, 1) 0%, rgba(162, 181, 0, 1) 37%, rgba(255, 215, 7, 1) 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem !important;
    transition: ease-in-out 0.3s !important;
}

@media (max-width: 768px) {
    .container {
        height: 100px;
    }
    .player_container {
        margin: 10px;
    }
    .player_container h2 {
        font-size: 1.5rem;
    }
    
    .isTurnMelon {
        font-size: 2rem !important;
    }

    .isTurnWatermelon {
        font-size: 2rem !important;
    }
}

